.jumbotron {
    margin: 0px;
    text-align: center;
    padding-top: 6rem;
}

.bg-cover {
    background-image: url("{{ asset('img/bg-home.jpg') }}");
    background-size: 100%;
}

.jumbotron h2 { color: #fff; }
.jumbotron .header-info { padding-bottom: 5rem; }

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: gray;
    opacity: 0.5;
}

/* Card 
 * ==============================================
 */

.card {
    min-height: 255px;
    background-color: rgb(245, 245, 245) !important;
    opacity: 0.8;
}
.card a { text-decoration: none; }
.card img { max-height: 150px; max-width: 150px; }

/* +------------------------------------------------------+
 * | Login -----------------------------------------------+
 * +------------------------------------------------------+
 */
.info .display-4,
.info h5 { text-align: center; }
.info .display-4 {
    font-size: 40px;
}

.info h5 {
    font-weight: lighter;
}

/* +------------------------------------------------------+
 * | Informativo Inicial ---------------------------------+
 * +------------------------------------------------------+
 */
.img-info {
    width: 100%;
}